asgiref==3.7.2
cffi==1.16.0
cryptography==41.0.5
Django==4.2.7
django-appconf==1.0.6
django-axes==6.1.1
django-countries==7.5.1
django-cryptography==1.1
django-phonenumber-field==7.2.0
mysqlclient==2.2.0
numpy==1.26.2
phonenumbers==8.13.25
Pillow==10.1.0
pycparser==2.21
python-dotenv==1.0.0
pytz==2023.3.post1
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
